{% load i18n admin_urls static admin_modify %}
<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="tabular"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module {{ inline_admin_formset.classes }}">
   <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
   {{ inline_admin_formset.formset.non_form_errors }}
    <div style="display: flex;">
    <table style="width: 25%" id="table_1">
     <thead><tr>
       <th class="original"></th>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}">{% endif %}
         </th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}
{#         {% if forloop.counter0|divisibleby:2 or forloop.first %}#}
        <tr style="{% cycle "" "display:none;" "display:none;" "display:none;" %}" class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
{#        {% endif %}#}
        <td class="original">
{#          {% if inline_admin_form.original or inline_admin_form.show_url %}<p>#}
{#          {% if inline_admin_form.original %}#}
{#          {{ inline_admin_form.original }}#}
{#          {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}<a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">{% if inline_admin_formset.has_change_permission %}{% trans "Change" %}{% else %}{% trans "View" %}{% endif %}</a>{% endif %}#}
{#          {% endif %}#}
{#          {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}#}
{#            </p>{% endif %}#}
          {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
          {{ inline_admin_form.fk_field.field }}
          {% spaceless %}
          {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          {% endspaceless %}
        </td>
        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for field in line %}
              {% if not field.field.is_hidden %}
              <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}{% if field.field.name == 'repeat' %} style="text-align: center" {% endif %}>
              {% if field.is_readonly %}
                  <p>{{ field.contents }}</p>
              {% else %}
                  {{ field.field.errors.as_ul }}
                  {{ field.field }}
              {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if inline_admin_formset.formset.can_delete %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
{#         {% if forloop.counter|divisibleby:2 or forloop.first %}#}
        </tr>
{#         {% endif %}#}
     {% endfor %}
     </tbody>
   </table>

    <table style="width: 25%" id="table_2">
     <thead><tr>
       <th class="original"></th>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}">{% endif %}
         </th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}
{#         {% if forloop.counter0|divisibleby:2 or forloop.first %}#}
        <tr style="{% cycle "display:none;" "" "display:none;" "display:none;" %}" class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
{#        {% endif %}#}
        <td class="original">
{#          {% if inline_admin_form.original or inline_admin_form.show_url %}<p>#}
{#          {% if inline_admin_form.original %}#}
{#          {{ inline_admin_form.original }}#}
{#          {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}<a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">{% if inline_admin_formset.has_change_permission %}{% trans "Change" %}{% else %}{% trans "View" %}{% endif %}</a>{% endif %}#}
{#          {% endif %}#}
{#          {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}#}
{#            </p>{% endif %}#}
          {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
          {{ inline_admin_form.fk_field.field }}
          {% spaceless %}
          {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          {% endspaceless %}
        </td>
        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for field in line %}
              {% if not field.field.is_hidden %}
              <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %} {% if field.field.name == 'repeat' %} style="text-align: center" {% endif %}>
              {% if field.is_readonly %}
                  <p>{{ field.contents }}</p>
              {% else %}
                  {{ field.field.errors.as_ul }}
                  {{ field.field }}
              {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if inline_admin_formset.formset.can_delete %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
{#         {% if forloop.counter|divisibleby:2 or forloop.first %}#}
        </tr>
{#         {% endif %}#}
     {% endfor %}
     </tbody>
   </table>

    <table style="width: 25%" id="table_3">
     <thead><tr>
       <th class="original"></th>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}">{% endif %}
         </th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}
{#         {% if forloop.counter0|divisibleby:2 or forloop.first %}#}
        <tr style="{% cycle "display:none;" "display:none;" "" "display:none;" %}" class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
{#        {% endif %}#}
        <td class="original">
{#          {% if inline_admin_form.original or inline_admin_form.show_url %}<p>#}
{#          {% if inline_admin_form.original %}#}
{#          {{ inline_admin_form.original }}#}
{#          {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}<a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">{% if inline_admin_formset.has_change_permission %}{% trans "Change" %}{% else %}{% trans "View" %}{% endif %}</a>{% endif %}#}
{#          {% endif %}#}
{#          {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}#}
{#            </p>{% endif %}#}
          {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
          {{ inline_admin_form.fk_field.field }}
          {% spaceless %}
          {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          {% endspaceless %}
        </td>
        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for field in line %}
              {% if not field.field.is_hidden %}
              <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %} {% if field.field.name == 'repeat' %} style="text-align: center" {% endif %}>
              {% if field.is_readonly %}
                  <p>{{ field.contents }}</p>
              {% else %}
                  {{ field.field.errors.as_ul }}
                  {{ field.field }}
              {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if inline_admin_formset.formset.can_delete %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
{#         {% if forloop.counter|divisibleby:2 or forloop.first %}#}
        </tr>
{#         {% endif %}#}
     {% endfor %}
     </tbody>
   </table>

    <table style="width: 25%" id="table_4">
     <thead><tr>
       <th class="original"></th>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}">{% endif %}
         </th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}
{#         {% if forloop.counter0|divisibleby:2 or forloop.first %}#}
        <tr style="{% cycle "display:none;" "display:none;" "display:none;" "" %}" class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
{#        {% endif %}#}
        <td class="original">
{#          {% if inline_admin_form.original or inline_admin_form.show_url %}<p>#}
{#          {% if inline_admin_form.original %}#}
{#          {{ inline_admin_form.original }}#}
{#          {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}<a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">{% if inline_admin_formset.has_change_permission %}{% trans "Change" %}{% else %}{% trans "View" %}{% endif %}</a>{% endif %}#}
{#          {% endif %}#}
{#          {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}#}
{#            </p>{% endif %}#}
          {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
          {{ inline_admin_form.fk_field.field }}
          {% spaceless %}
          {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          {% endspaceless %}
        </td>
        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for field in line %}
              {% if not field.field.is_hidden %}
              <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %} {% if field.field.name == 'repeat' %} style="text-align: center" {% endif %}>
              {% if field.is_readonly %}
                  <p>{{ field.contents }}</p>
              {% else %}
                  {{ field.field.errors.as_ul }}
                  {{ field.field }}
              {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if inline_admin_formset.formset.can_delete %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
{#         {% if forloop.counter|divisibleby:2 or forloop.first %}#}
        </tr>
{#         {% endif %}#}
     {% endfor %}
     </tbody>
   </table>
    </div>
</fieldset>
  </div>
</div>
<style>
    .vLargeTextField, .vXMLLargeTextField {
        width: 100%;
    }
</style>
<script>
    (function($) {
    'use strict';
    var tableRows = $('#table_1> tbody > tr').length-1;
    for(var i=1;i<=4;i++) {
        var lastRow = $('#table_'+i+'> tbody > tr').last();
        {#var lastRow = tempTableRows[tempTableRows.length-1];#}
        lastRow.removeAttr("style")
    }
    $.fn.formset = function(opts) {
        var options = $.extend({}, $.fn.formset.defaults, opts);
        var $this = $(this);
        var $parent = $this.parent();
        var updateElementIndex = function(el, prefix, ndx) {
            var id_regex = new RegExp("(" + prefix + "-(\\d+|__prefix__))");
            var replacement = prefix + "-" + ndx;
            if ($(el).prop("for")) {
                $(el).prop("for", $(el).prop("for").replace(id_regex, replacement));
            }
            if (el.id) {
                el.id = el.id.replace(id_regex, replacement);
            }
            if (el.name) {
                el.name = el.name.replace(id_regex, replacement);
            }
        };
        var totalForms = $("#id_" + options.prefix + "-TOTAL_FORMS").prop("autocomplete", "off");
        var nextIndex = parseInt(totalForms.val(), 10);
        var maxForms = $("#id_" + options.prefix + "-MAX_NUM_FORMS").prop("autocomplete", "off");
        // only show the add button if we are allowed to add more items,
        // note that max_num = None translates to a blank string.
        var showAddButton = maxForms.val() === '' || (maxForms.val() - totalForms.val()) > 0;
        $this.each(function(i) {
            $(this).not("." + options.emptyCssClass).addClass(options.formCssClass);
        });
        if ($this.length && showAddButton) {
            var addButton = options.addButton;
            if (addButton === null) {
                if ($this.prop("tagName") === "TR") {
                    // If forms are laid out as table rows, insert the
                    // "add" button in a new table row:
                    var numCols = this.eq(-1).children().length;
                    $parent.append('<tr class="' + options.addCssClass + '"><td colspan="' + numCols + '"><a href="#">' + options.addText + "</a></tr>");
                    addButton = $parent.find("tr:last a");
                } else {
                    // Otherwise, insert it immediately after the last form:
                    $this.filter(":last").after('<div class="' + options.addCssClass + '"><a href="#">' + options.addText + "</a></div>");
                    addButton = $this.filter(":last").next().find("a");
                }
            }
            addButton.on('click', function(e) {
                e.preventDefault();
                var tableNumber = (tableRows % 4) + 1;
                for(var i=1;i<=4;i++) {
                    var template = $("#table_" + i + " #affirmation_texts-empty");
                    var row = template.clone(true);
                    if(i != tableNumber){
                        row.css("display", "none");
                    }
                    row.removeClass(options.emptyCssClass)
                        .addClass(options.formCssClass)
                        .attr("id", options.prefix + "-" + nextIndex);
                    if (row.is("tr")) {
                        // If the forms are laid out in table rows, insert
                        // the remove button into the last table cell:
                        row.children(":last").append('<div><a class="' + options.deleteCssClass + '" href="#">' + options.deleteText + "</a></div>");
                    } else if (row.is("ul") || row.is("ol")) {
                        // If they're laid out as an ordered/unordered list,
                        // insert an <li> after the last list item:
                        row.append('<li><a class="' + options.deleteCssClass + '" href="#">' + options.deleteText + "</a></li>");
                    } else {
                        // Otherwise, just insert the remove button as the
                        // last child element of the form's container:
                        row.children(":first").append('<span><a class="' + options.deleteCssClass + '" href="#">' + options.deleteText + "</a></span>");
                    }
                    row.find("*").each(function () {
                        updateElementIndex(this, options.prefix, totalForms.val());
                    });
                    // Insert the new form when it has been fully edited
                    row.insertBefore($(template));
                    // Update number of total forms
                    {#$(totalForms).val(parseInt(totalForms.val(), 10) + 1);#}
                    {#nextIndex += 1;#}


                    // Hide add button in case we've hit the max, except we want to add infinitely
                    if ((maxForms.val() !== '') && (maxForms.val() - totalForms.val()) <= 0) {
                        addButton.parent().hide();
                    }
                    // The delete button of each row triggers a bunch of other things
                    row.find("a." + options.deleteCssClass).on('click', function (e1) {
                        e1.preventDefault();
                        // Remove the parent form containing this button:
                        row.remove();
                        nextIndex -= 1;
                        // If a post-delete callback was provided, call it with the deleted form:
                        if (options.removed) {
                            options.removed(row);
                        }
                        $(document).trigger('formset:removed', [row, options.prefix]);
                        // Update the TOTAL_FORMS form count.
                        var forms = $("." + options.formCssClass);
                        $("#id_" + options.prefix + "-TOTAL_FORMS").val(forms.length);
                        // Show add button again once we drop below max
                        if ((maxForms.val() === '') || (maxForms.val() - forms.length) > 0) {
                            addButton.parent().show();
                        }
                        // Also, update names and ids for all remaining form controls
                        // so they remain in sequence:
                        var i, formCount;
                        var updateElementCallback = function () {
                            updateElementIndex(this, options.prefix, i);
                        };
                        for (i = 0, formCount = forms.length; i < formCount; i++) {
                            updateElementIndex($(forms).get(i), options.prefix, i);
                            $(forms.get(i)).find("*").each(updateElementCallback);
                        }
                    });
                    // If a post-add callback was supplied, call it with the added form:
                    if (options.added) {
                        options.added(row);
                    }
                    $(document).trigger('formset:added', [row, options.prefix]);
                }
                tableRows++;
                $(totalForms).val(parseInt(totalForms.val(), 10) + 1);
                nextIndex += 1;
            });
        }
        return this;
    };

    /* Setup plugin defaults */
    $.fn.formset.defaults = {
        prefix: "form",          // The form prefix for your django formset
        addText: "add another",      // Text for the add link
        deleteText: "remove",      // Text for the delete link
        addCssClass: "add-row",      // CSS class applied to the add link
        deleteCssClass: "delete-row",  // CSS class applied to the delete link
        emptyCssClass: "empty-row",    // CSS class applied to the empty row
        formCssClass: "dynamic-form",  // CSS class applied to each form in a formset
        added: null,          // Function called each time a new form is added
        removed: null,          // Function called each time a form is deleted
        addButton: null       // Existing add button to use
    };
    $('textarea').on('keyup', function (e) {
        var targetName = e.target.getAttribute('name');
        $("textarea[name=" + targetName + "]").each(function(){
            $(this).val(e.target.value);
        });
    });
    $('table input').on('keyup', function (e) {
        var targetName = e.target.getAttribute('name');
        $("input[name=" + targetName + "]").each(function(){
            $(this).val(e.target.value);
         });
    });
    $('table input').change(function (e) {
        var targetName = e.target.getAttribute('name');
        $("input[name=" + targetName + "]").each(function(){
            $(this).val(e.target.value);
        });
    });
})(django.jQuery);

</script>
<style>
    .inline-deletelink {
        display: none;
    }
</style>