{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
    Ahit4me - Cookie Policy
{% endblock %}

{% block main %}
    <div class="recipe-detail">
        <div class="container">

            <div class="row justify-content-center mb-5">
                <div class="col-lg-10 text-center">
                    <h3 class="no_font_weight">Cookie Policy</h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10 text-left">
                    <h4 class="text-center no_font_weight">
                        Does Ahit4me use cookies?
                    </h4>
                    <p>
                        Yes. Ahit4me uses cookies and other similar technologies to ensure everyone who uses the
                        website has the best possible experience.
                    </p>

                    <h4 class="text-center no_font_weight">
                        What is a cookie?
                    </h4>
                    <p>
                        A cookie is a small text file that is placed on your hard drive by a web page server. Cookies
                        contain information that can later be read by a web server in the domain that issued the cookie
                        to you. You can find out more about each cookie by viewing our current cookie list below. We
                        update this list every six months, so there may be additional cookies not yet listed. Web
                        beacons, tags, and scripts may be used on the website or in emails to help us to deliver
                        cookies, count visits, understand usage and advertising campaign effectiveness, and determine
                        whether an email has been opened and clicked on. We may receive reports based on the use of
                        these technologies by our service/analytics providers on an individual and aggregated basis.
                    </p>

                    <h4 class="text-center no_font_weight">
                        Why does Ahit4me use cookies?
                    </h4>
                    <p>
                        When you visit our website, we may place a number of cookies in your browser. These are
                        first-party cookies, and they allow us to hold session information as you navigate within the
                        site. For example, we use cookies on our website to understand visitor and user preferences,
                        improve their experience, and track and analyze usage, navigational, and other statistical
                        information. You can control the use of cookies at the individual browser level. If you choose
                        not to activate cookies or to later disable them, you can still visit our website, but your
                        ability to use some features may be limited.
                    </p>

                    <h4 class="text-center no_font_weight">
                        How do I disable cookies?
                    </h4>
                    <p>
                        You can generally activate or later deactivate the use of cookies through your web browser. Find
                        your browser below to learn more about how to manage your cookie settings.
                    </p>
                    <ul>
                        <li>
                            Firefox: Click <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank" class="dark_lila_link link_underline">here</a> to learn more about “Private Browsing” and managing cookie settings.
                        </li>
                        <li>
                            Chrome: Click <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" class="dark_lila_link link_underline">here</a> to learn more about “Incognito” and managing cookie settings.
                        </li>
                        <li>
                            Internet Explorer: Click <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="dark_lila_link link_underline">here</a> to learn more about “InPrivate” and managing cookie settings.
                        </li>
                        <li>
                            Safari: Click <a href="https://support.apple.com/kb/ph21411?locale=en_US" target="_blank" class="dark_lila_link link_underline">here</a> to learn more about “Private Browsing” and managing cookie settings.
                        </li>
                    </ul>

                    <p>
                        If you want to learn more about cookies or how to control, disable, or delete them, please visit
                        <a href="http://www.aboutcookies.org" target="_blank" class="dark_lila_link link_underline">http://www.aboutcookies.org</a> for detailed guidance.
                    </p>

                    <p>
                        In addition, certain third party advertising networks, including Google, allow users to opt out
                        of or customize preferences associated with your internet browsing. To learn more about this
                        feature from Google, click <a href="https://adssettings.google.com/u/0/authenticated?hl=en" target="_blank" class="dark_lila_link link_underline">here</a>.
                    </p>

                    <h4 class="text-center no_font_weight">
                        Cookies we use
                    </h4>
                    <p>
                        We may use any of the following categories of cookies on our website as detailed below. Each
                        cookie falls within one of these four categories:
                    </p>

                    <p>
                        <strong>Essential Cookies</strong>: <br>
                        Essential cookies (first-party cookies) are sometimes called “strictly necessary” as without
                        them we cannot provide many services that you need on the website. For example, essential
                        cookies help remember your preferences as you move around the website.
                    </p>
                    <p>
                        <strong>Analytics Cookies</strong>: <br>
                        These cookies track information about website visits so we can make improvements and report our
                        performance. For example, we analyze visitor and user behavior to provide more relevant content
                        or suggest certain activities. These cookies collect information about how visitors use the
                        website, which site the user came from, the number of each user’s visits, and how long a user
                        stays on the website. We might also use analytics cookies to test new ads, pages, or features to
                        see how users react to them.
                    </p>
                    <p>
                        <strong>Functionality or Preference Cookies</strong>: <br>
                        During your visit to the website, these cookies are used to remember information you have
                        entered or choices you make such as your username, language, or region. They also store your
                        preferences when personalizing the website to optimize your use of ahit4me, for example, your
                        preferred language. These preferences are remembered through the use of the persistent cookies,
                        and the next time you visit the website you won’t have to set them again.
                    </p>
                    <p>
                        <strong>Targeting or Advertising Cookies</strong>: <br>
                        These third-party cookies are placed by third-party advertising platforms or networks in order
                        to deliver ads and track ad performance, enabling advertising networks to deliver ads that may
                        be relevant to you based upon your activities (this is sometimes called behavioral, tracking, or
                        targeted advertising) on the website. They may subsequently use information about your visit to
                        show you ads that you may be interested on our website and other websites. For example, these
                        cookies remember which browsers have visited the website.
                    </p>

                    <p>
                        You can opt out of advertising cookies by clicking the button:
                        <button class="opt_out btn btn-orange btn-sm">Opt out</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(function () {
            $('.opt_out').on('click', function () {
                opt_out();
                $(this).text('Done');
            });
        });
    </script>
{% endblock %}
