{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% block extra_css %}
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
{% endblock %}
<div id="content-main">
    {% if app_list|length|get_digit:"-1" > 1 %}
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'General')">General Settings</button>
        <button class="tablinks active" onclick="openTab(event, 'Content')">Content Settings</button>
        <button class="tablinks" onclick="openTab(event, 'Users')">Users Management</button>
    </div>

    <div id="General" class="tabcontent">
        {% for app in app_list %}
        {% if app.name == 'Discount' or app.name == 'Djstripe' or app.name == 'Sites' or app.name == 'Social Accounts' %}
        <div class="app-{{ app.app_label }} module">
            <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section"
                        title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </caption>
                {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    {% else %}
                    <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}

                    {% if model.admin_url %}
                    {% if model.view_only %}
                    <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                    {% else %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% endif %}
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div id="Content" class="tabcontent" style="display: block">
        {% for app in app_list %}
        {% if app.name == 'Awareness' or app.name == 'Self Talk' or app.name == 'Cause and Effects' or app.name == 'Causal Forces' or app.name == 'Knowledge' or app.name == 'Practice' or  app.name == 'QuestionAnswers' or app.name == 'Text' or app.name == 'Categories' %}
        <div class="app-{{ app.app_label }} module">
            <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section"
                        title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </caption>
                {% for model in app.models %}
                {% if not model.object_name|lower == 'space' %}
                <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    {% else %}
                    <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}

                    {% if model.admin_url %}
                    {% if model.view_only %}
                    <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                    {% else %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% endif %}
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
                {% if app.name == 'Categories' %}
                    {% for app in app_list %}
                        {% if app.name == 'Awareness' %}
                            {% for model in app.models %}
                                {% if model.object_name|lower == 'space' %}
                                <tr class="model-{{ model.object_name|lower }}">
                                {% if model.admin_url %}
                                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                {% else %}
                                <th scope="row">{{ model.name }}</th>
                                {% endif %}

                                {% if model.add_url %}
                                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                {% else %}
                                <td>&nbsp;</td>
                                {% endif %}

                                {% if model.admin_url %}
                                {% if model.view_only %}
                                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                                {% else %}
                                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                {% endif %}
                                {% else %}
                                <td>&nbsp;</td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div id="Users" class="tabcontent">
        {% for app in app_list %}
        {% if app.name == 'User' or app.name == 'Pack' or app.name == 'Authentication and Authorization' or app.name == 'Accounts' %}
        <div class="app-{{ app.app_label }} module">
            <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section"
                        title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </caption>
                {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    {% else %}
                    <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}

                    {% if model.admin_url %}
                    {% if model.view_only %}
                    <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                    {% else %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% endif %}
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% elif app_list|length|get_digit:"-1" == 1 %}
        {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
            <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section"
                        title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </caption>
                {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    {% else %}
                    <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}

                    {% if model.admin_url %}
                    {% if model.view_only %}
                    <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                    {% else %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% endif %}
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    {% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <ul class="actionlist">
            {% for entry in admin_log %}
            <li
                class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
                {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
    {% block extra_js %}
        <script>
            function openTab(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
        </script>
    {% endblock %}
{% endblock %}