{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}Password Reset{% endblock %}

{% block main %}
    <div class="recipe-detail">

        <div class="container text-center">
            <div class="col-lg-12 margin-bottom-xs" style="min-height: 400px">



                {% if link_invalid %}
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <h1>The link is not valid anymore.</h1>
                            <p>
                                Sorry.
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <h1>Set your new password</h1>
                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}

                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-lg-4">

                                <h5>
                                    Give new passwords. Try to be creative, but also make sure that you do not
                                    forget it again.
                                </h5>

                                <div class="mt-5">
                                    <div class="form-group">
                                        <input class="form-control mb-4" autofocus minlength="8" required type="password" name="password1"
                                           placeholder="Better more than 8 Chars"/>

                                        {% if error %}
                                            <p class="mini text-danger">{{ error }}</p>
                                        {% endif %}

                                        <input class="form-control" minlength="8" required type="password" name="password2"
                                               placeholder="Repeat it"/>
                                        <input type="hidden" name="user_profile_id" value="{{ user_profile_id }}">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-4">
                                <button class="form-control btn btn-primary cursor_pointer" type="submit">
                                    Save & Continue
                                </button>
                            </div>
                        </div>
                    </form>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
