{% extends 'base.html' %}
{% load static custom_tags %}
{% load bootstrap4 %}
{% block title %}
    My Progress - {{ request.user.username|capfirst }}
{% endblock %}

{% block extra_css %}
    <style>
        .main-wrapper {
            background-color: white;
            padding: 15px !important;
            color: #3f51b5 !important;
        }

        .table-header {
            background-color: white !important;
            border: 3px solid #3f51b5 !important;
            border-radius: 10px !important;
            width: 100% !important;
        }

        .table-header-tr {
            color: white !important;
            background-color: #3f51b5 !important;
            text-align: center !important;
        }

        .table-body-name {
            border: 3px solid #3f51b5 !important;
            width: 13%;
        }

        table td {
            width: 13%;
            padding: 0.5rem !important;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="recipe-detail">
        <div class="main-wrapper">
            {% if user_data %}
                <div class="col-lg-12 reduce-padding text-center">
                    <h2>{{ month_name }}</h2>
                </div>
                <div class="col-lg-12 text-center">
                    <h2> Time Invested Total </h2>
                </div>
                <div class="col-12 reduce-padding" style="display: flex;flex-wrap: wrap;">
                    <div class="col-lg-12 reduce-padding">
                        <div class="col-lg-12" style="margin-top: 10px">
                            <table class="table table-bordered table-header">
                                <thead>
                                <tr class="table-header-tr">
                                    <td>Sun</td>
                                    <td>Mon</td>
                                    <td>Tues</td>
                                    <td>Wed</td>
                                    <td>Thurs</td>
                                    <td>Fri</td>
                                    <td>Sat</td>
                                    <td style="width: 7%;"></td>
                                </tr>
                                </thead>
                                {% for data in user_data %}
                                    <tbody style="font-size: 15px;border: 3px solid #3f51b5;">
                                    <tr>
                                        {% for day in data.days_name %}
                                            <td class="table-body-name" style="font-size: large;">{{ day.day }} Day of
                                                Mo.
                                            </td>
                                        {% endfor %}
                                        {% if forloop.last %}
                                            {% for day in missing_days %}
                                                <td class="table-body-name" style="font-size: large;"></td>
                                            {% endfor %}
                                        {% endif %}
                                        <td style="width: 7%;"></td>
                                    </tr>
                                    <tr>
                                        {% for day in data.days_name %}
                                            <td class="table-body-name text-right">Minutes Invested</td>
                                        {% endfor %}
                                        {% if forloop.last %}
                                            {% for day in missing_days %}
                                                <td class="table-body-name" style="font-size: large;"></td>
                                            {% endfor %}
                                        {% endif %}
                                        <td style="width: 7%;"></td>
                                    </tr>
                                    {% for area in data.areasoflife %}
                                        <tr>
                                            {% for day in area.days %}
                                                <td class="table-body-name">
                                                    <div class="col-lg-12 flex-wrap reduce-padding"
                                                         style="display: flex">
                                                        <div class="col-lg-6 text-left">{{ area.name }}</div>
                                                        <div class="col-lg-6 text-right">{{ day.minutes }}</div>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                            {% if forloop.parentloop.last %}
                                                {% for day in missing_days %}
                                                    <td class="table-body-name" style="font-size: large;"></td>
                                                {% endfor %}
                                            {% endif %}

                                            <td class="text-center"
                                                style="width: 7%;border: none">{{ area.week_minutes }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr style="height: 41px">
                                        <td colspan="7"></td>
                                        <td style="border: none"></td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-12 text-center" style="margin-top: 15px">
                    {{ msg }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}